<%- include('../layouts/header.ejs') %>

    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></button> -->
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="image/about2.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption about">
                    <h1>About Us</h1>
                    <h5>The University also has a mission of fulfilling its commitment in coming years</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <p>
            The University has submitted proposal to the Government of India for financial support to establish an Institute of Advanced Technologies (IAT) and a Centre for Women Empowerment Studies. The objectives of the IAT is to establish research and teaching centres in some of the most advanced scientific areas such as supercomputing, Nanotechnology, Neuroscience, Genomics and Biomedical Technology.
    
            The University also has a mission of fulfilling its commitment in coming years towards the followings:
            
            <span class="text-danger">new academic programmes as per National & Global needs.
                To focus advanced research and to make it more utility based & patent oriented.
                To Start Central Sophistecated Intrumentation Facility</span>To start new academic programmes as per National & Global needs.
            To focus advanced research and to make it more utility based & patent oriented.
            To Start Central Sophistecated Intrumentation Facility
            To establish strong University - Industry interaction to make education vocationally relevant
        </p>
    </div>

    <%- include('../layouts/footer.ejs') %>