<%- include('../layouts/header.ejs')%>
<br><br><br><br>
    <div class="container mt-3">
        <h3 class="text-center loginall">Welcome to the <span class="text-danger">Login</span> Page <br>
            <span style="font-size: 18px;">
                <a class="" href="/instructorlogin">Instructor Login</a> | <a class="" href="/studentlogin">Student Login</a>
            </span></h3>
        
        <div class="row allLogin">

            <div class="col-md-4 mt-3"></div>

            <div class="col-md-4 mt-3 shadow-lg">
                <br>
                <h3><i class="fa-solid fa-user-tie"></i> Admin <span class="text-danger">Login</span></h3>
                <form action="/adminlogin" method="POST">

                    <div class="mb-3">
                        <label class="form-label">Email address</label>
                        <input name="adminemail" placeholder="email" type="email" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input name="adminpassword" type="password" placeholder="password" class="form-control">
                    </div>

                    <button type="submit" class="btn btn-danger">Submit</button>
                    <br><br>
                </form>
            </div>

            <div class="col-md-4 mt-3  "></div>
        </div>
    </div><br><br>
    <%- include('../layouts/footer.ejs') %>