<%- include('../layouts/header.ejs') %>

<section class="contact">
    <div class="container">
        <div class="row">
            <form action="/contactfill" method="POST">

                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input name="name" type="text" class="form-control">
                  </div>

                <div class="mb-3">
                  <label class="form-label">Email address</label>
                  <input name="email" type="email" class="form-control">
                </div>

                <div class="mb-3">
                  <label class="form-label">Reason</label>
                  <input name="reason" type="text" class="form-control">
                </div>

                <div class="mb-3">
                    <label class="form-label">Message</label>
                    <input name="message" type="text" class="form-control">
                  </div>

                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</section>

<%- include('../layouts/footer.ejs') %>