<%- include("../layouts/header.ejs") %>
    <div class="container-fluid">
        <div class="row">
            <div class="bg-light">
                <div style="margin-top: 6%;" class="homeboder border border-danger-subtle">
                    <h4 class="pt-3" style="padding-left: 3%;">Important links</h4>
                    <ul>
                        <marquee loop="" class="mt-2 marq bg-light " style="height: 10%;" direction="scroll" loop="">
                            <ul>
                                <li>
                                    <a class="text-danger" href="">
                                        <h6 class="text-danger"> position values by adding entries to the $positionYou
                                            can add more position values by adding entries to the $position-values Sass
                                            map variable.</h6>
                                    </a>
                                </li>
                                <li>
                                    <a class="text-danger" href="">
                                        <h6 class="text-danger">You can add more positi position values by adding
                                            entries to the $positionon values by adding entries to the $position-values
                                            Sass map variable.</h6>
                                    </a>
                                </li>
                            </ul>
                        </marquee>
                        <li>
                            <a class="" href="">
                                <h6> position values by adding entries to the $positionYou can add more position values
                                    by adding entries to the $position-values Sass map variable.</h6>
                            </a>
                        </li>
                        <li>
                            <a class="" href="">
                                <h6>You can add more positi position values by adding entries to the $positionon values
                                    by adding entries to the $position-values Sass map variable.</h6>
                            </a>
                        </li>
                        <li>
                            <a class="" href="">
                                <h6>You can add mo position values by adding entries to the $positionre position values
                                    by adding entries to the $position-values Sass map variable.</h6>
                            </a>
                        </li>
                        <li>
                            <a class="" href="">
                                <h6>You can position values by adding entries to the $position add more position values
                                    by adding entries to the $position-values Sass map variable.</h6>
                            </a>
                        </li>
                        <li>
                            <a class="" href="">
                                <h6>You can add more position values position values by adding entries to the
                                    $positionby adding entries to the $position-values Sass map variable.</h6>
                            </a>
                        </li>
                        <li>
                            <a class="" href="">
                                <h6>You can add more position values by adding entries to the $position-values Sass map
                                    variable.</h6>
                            </a>
                        </li>
                        <li>
                            <a class="" href="">
                                <h6>You can add more position val position values by adding entries to the $positionues
                                    by adding entries to the $position-values Sass map variable.</h6>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <div id="carouselExampleFade" class="carousel slide carousel-fade">
        <div class="carousel-inner">
          <div class="carousel-item active homecarousel">
            <img src="image/contactbg.jpg" class="d-block" alt="...">
          </div>
          <div class="carousel-item">
            <img src="image/contactbg.jpg" class="d-block" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

<%- include('../layouts/footer.ejs') %>