<%- include('../layouts/header.ejs') %>
<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
</div>
<%- include('../layouts/footer.ejs') %>