<%- include('../layouts/header.ejs') %>
    <br><br><br>
    <div class="container mt-3 moredepartment">
        <h3 class="text-center">List Of Department</h3>
        <br>
        <div class="border border-dark">
            <ol class="mt-3">
                <li class="nav-item">
                    <a class="nav-link active" href="/socialWorkandExtensionEducation">
                        <h5>Social Work and Extension Education</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/indiraGandhiAcademy">
                        <h5>Indira Gandhi Academy of Environmental Education, Research and Ecoplanning</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/engineeringandTechnology">
                        <h5>Engineering and Technology</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/chemicalSales">
                        <h5>Chemical, Sales and Marketing</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/zoology">
                        <h5>Zoology</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/travelManagement">
                        <h5>Tourism & Travel Management</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/neuroscience">
                        <h5>Neuroscience</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/environmentalChemistry">
                        <h5>Environmental Chemistry</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/USIC">
                        <h5>USIC</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/biochemistry">
                        <h5>Biochemistry</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/psychology">
                        <h5>Psychology</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/chemistry">
                        <h5>Chemistry</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/botany">
                        <h5>Botany</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/Csa">
                        <h5>Computer Science and Application</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/commerce">
                        <h5>Commerce</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/distanceEducation">
                        <h5>Distance Eduction</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/earthScience">
                        <h5>Earth Science</h5>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/economics">
                        <h5>Economics</h5>
                    </a>
                </li>
            </ol>
            <br>
        </div>
    </div>

    <%- include('../layouts/footer.ejs') %>