<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Register</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">

    <!-- BOOTSTRAP LINK -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

    <!-- Fontawesome Links -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
</head>

<body>
    <!-- <section class="w-100 bg-secondary-subtle lh-lg ">
        <h4 class=" text-center">something ill write</h4>
    </section> -->


    <section class="CommonPart">
        <nav class="navbar navbar-expand-lg fixed-top shadow-lg" style="background-color: #ffffff;">
            <div class="container">
                <a class="navbar-brand" href="/"><h2><i class="fa-solid fa-building-columns"></i> Re<span class="text-danger">GIs</span>tEr</h2></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav" style="padding-left: 9%;">
                        <li class="nav-item">
                            <a class="nav-link active" href="/"><h6>Home</h6></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/about"><h6>About</h6></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/contact"><h6>Contact</h6></a>
                        </li>
                        <li class="nav-item">
                            <!-- <a class="nav-link active" href="#"><h6>Department</h6></a> -->
                            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                                <ul class="navbar-nav">
                                  <li class="nav-item dropdown">
                                    <button class="btn " data-bs-toggle="dropdown">
                                      <h6>Department</h6>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-light">
                                      <li><a class="dropdown-item" href="/psychology">Psychology</a></li>
                                      <li><a class="dropdown-item" href="/biochemistry">Biochemistry</a></li>
                                      <li><a class="dropdown-item" href="/botany">Botany</a></li>
                                      <li><a class="dropdown-item" href="/chemistry">Chemistry</a></li>
                                      <li><a class="dropdown-item" href="/Csa">Computer Science and Application</a></li>
                                      <li><a class="dropdown-item" href="/commerce">Commerce</a></li>
                                      <li><a class="dropdown-item" href="/distanceEducation">Distance Eduction</a></li>
                                      <li><a class="dropdown-item" href="/earthScience">Earth Science</a></li>
                                      <li><a class="dropdown-item" href="/economics">Economics</a></li>
                                      <li><a class="dropdown-item" href="/MoreDepartment">More...</a></li>
                                      
                                    </ul>
                                  </li>
                                </ul>
                              </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/smartollege"><h6>College</h6></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/loginallpage"><h6>Login</h6></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/registerallpage"><h6>Register</h6></a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class=" active" href="#">
                                <img src="/image/1664382046507.jpg" class="rounded-circle img-fluid w-100">
                            </a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </nav>
    </section>


    <!-- Footer Part -->
    <section class="footer">
        <footer></footer>
    </section>
</body>



