<%- include('../layouts/header.ejs') %>
<div class="container-fluid">
    <div class="row">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
                <!-- <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></button> -->
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="image/university1.jpg" class="d-block w-100 mt-3" alt="...">
                    <div class="carousel-caption about">
                        <h1 style=" font-weight: 600;">Department of Commerce</h1>
                        <!-- <h5>The University also has a mission of fulfilling its commitment in coming years</h5> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br>

    <div class="container">
        <div style="overflow-x:auto;">
            <table class="table table-bordered table-responsives">
                <thead class="">
                    <tr>
                        <th colspan="5">
                            <h3 style="font-family: serif;" class="text-center">This course <span
                                    class="text-danger">Details</span></h3>
                        </th>
                    </tr>
                    <tr class="text-center">
                        <th>HOD Name</th>
                        <th>Duration</th>
                        <th>Code</th>
                        <th>Department Code</th>
                        <th>Telephone</th>
                    </tr>
                </thead>

                <tbody class="text-center">
                    <td>
                        Shashank shivhare<br>,
                        kunal <br> Mohan
                    </td>
                    <td>3 years</td>
                    <td>2000</td>
                    <td>852085</td>
                    <td>6269084857</td>
                </tbody>
            </table>
        </div>
    </div>
    <br><br>
<%- include('../layouts/footer.ejs') %>